{% extends '_base.html' %}
{% block content %}
<blockquote style="font-style: italic;" cite="https://www.reddit.com/r/copypasta/comments/bwbkmx/quoth_the_server_404/"> <!-- edited to be sfw -->
    Once upon a midnight dreary, While I websurfed, weak and weary, Over many a strange and spurious website of StackOverflow lore,<br>
    While I clicked my fav'rite bookmark, Suddenly there came a warning, And my heart was filled with mourning, Mourning for my dear amour.<br>
    'Tis not possible!, I pleaded, But my browser, so conceited, Remained blank, I then repeated, Just a blank and nothing more.<br>
    With a scream, I was defeated, For my cookies were deleted, So I begged, no longer seated, "Give me back my code salvour!"<br>
    Then, in answer to my query, Through the net I loved so dearly, Came its answer, dark and dreary: Quoth the server, 404<br><br>
</blockquote>
<a href="index.html"><--- Back to safety...</a>
{% endblock %}