{% extends '_base.html' %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}


button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
</style>
</head>
<body>
<h2 style="text-align:center">My Profile</h2>

<div class="card w3-display-left" style="margin: 85px;">
  <img src="{{user.picture}}?{{user.picinc}}" style="width:100%">
  <h1>{{ user.name }}</h1>
  <p class="title">I am {{ user.age}} years old</p>
  <p>About Me</p>
  <p>{{user.bio}}</p>
  <div>
    <p>
    </p>
  </div>
  <p><button>{{user.email}}</button></p>
</div>

<div class=" w3-card w3-twothird w3-display-right " style="margin: 70px;">
    <form method = "post" action = "/saveprofile" enctype="multipart/form-data">
      Profile Picture:<input class="title" type="file" name = "picture"> 
        Name:<input class="title" type="text" value={{user.name}} required name="name"></input> 
        Age: <input class="title" type="number" value={{user.age}} required name="age"></input>
        <p>About Me</p>
        <textarea class="bio-input" id="bio-input" type="text" rows="8" name = "bio"  maxlength = "200">{{user.bio}}</textarea> 
        <div style="margin: 24px 0;">
        </div>
        <button  type = "submit" class="w3-button w3-center">Save</button>

    </form>
</div>
{% endblock %}
