{% extends '_base.html' %}
{% block content %}
<div class="w3-container" style="padding: 20px;">
<div class="w3-row">
{% for user in users %}
<div class="w3-col s12 m4 w3-container">
    <div class="w3-card-4" style="padding: 20 px;">
        <a href="/profile?user={{ user.id }}"><img src="{{ user.picture }}?{{ user.picinc }}" style="width: 95%"></a>
        <div class="w3-container w3-center">
            <h3>{{ user.name }}</h3><br>
            <p>{{user.bio}}</p>
            <p>{{user.age}}</p>
        </div>
    </div>
</div>
{% endfor %}
</div></div>
{% endblock %}
